<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message</title>
</head>
<body>

<p th:text="${msg}" />

<p th:text="#{pl.sda.welcome}" />

<p th:each="elem : ${elements}" th:text="${elem}"/>

</body>
</html>