<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order list</title>
</head>
<body>

<a th:href="@{/order/create}">New order</a>

    <table>

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Product name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Create date</th>
            </tr>
        </thead>

        <tbody>

            <tr th:each = "order : ${orders}">
                <td th:text="${order.id}"/>
                <td th:text="${order.productName}"/>
                <td th:text="${order.quantity}"/>
                <td th:text="${order.createDate}"/>

                <td><a th:href="@{/order/edit/{id}/(id=${order.id})}">edit</a></td>

                <td><a th:href="@{/order/delete/{id}/(id=${order.id})}">delete</a></td>
            </tr>

        </tbody>

    </table>

</body>
</html>