<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin main page</title>
</head>
<body>

<a th:href="@{/logout}">Logout</a>

<a th:href="@{/admin/createAdmin}">Create new admin account</a>

Logged as:
<div th:text="${username}"></div>

View count:
<div th:text="${counter}"></div>
<table>

    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Pesel</th>
        <th scope="col">Address</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each = "client : ${clients}">
        <td th:text="${client.id}"/>
        <td th:text="${client.name}"/>
        <td th:text="${client.surname}"/>
        <td th:text="${client.pesel}"/>
        <td th:text="${client.address}"/>

        <td><a th:href="@{/admin/deleteClient/{id}/(id=${client.id})}">delete</a></td>
        <td><a th:href="@{/admin/addAccount/{id}/(id=${client.id})}">add account</a></td>
        <td><a th:href="@{/admin/editClient/{id}/(id=${client.id})}">edit</a></td>
    </tr>

    </tbody>

</table>


</body>
</html>