<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Client details</title>
</head>
<body>

<a th:href="@{/logout}">Logout</a>

Logged as:
<div th:text="${client.name}"></div>
<div th:text="${client.surname}"></div>

<table>

    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Number</th>
        <th scope="col">Balance</th>
    </tr>
    </thead>

    <tbody>

    <tr th:each = "account : ${client.accounts}">
        <td th:text="${account.id}"/>
        <td th:text="${account.number}"/>
        <td th:text="${account.balance}"/>

        <td><a th:href="@{/client/history/{accountId}/(accountId=${account.id})}">history</a></td>

        <td><a th:href="@{/client/transfer/{accountId}/(accountId=${account.id})}">transfer</a></td>

    </tr>
    </tbody>

</table>

</body>
</html>