<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
</head>
<body>

<label>Error occured: <span th:text="${errorMessage}"></span></label>

</body>
</html>