<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account history</title>
</head>
<body>
<table>

    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Transfer date</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>

    </tr>
    </thead>

    <tbody>

    <tr th:each = "history : ${histories}">
        <td th:text="${history.id}"/>
        <td th:text="${history.number}"/>
        <td th:text="${history.amount}"/>
        <td th:text="${history.transferDate}"/>
        <td th:text="${history.name}"/>
        <td th:text="${history.surname}"/>
    </tr>
    </tbody>

</table>
</body>
</html>